    * {
        box-sizing: border-box;
    }

    body {
        margin: 0;
        font-size: 62.5%;
        font-family: 'Open Sans', sans-serif;
    }

    h1 {
        font-family: 'Montserrat', sans-serif;
        color: #222;
        font-size: 2.4em;
        font-weight: 700;
        margin-top: 0;
    }

    h2 {
        font-family: 'Montserrat', sans-serif;
        color: #222;
        font-size: 2.0em;
        font-weight: 600;
        margin-top: 0;
    }

    h3 {
        font-family: 'Montserrat', sans-serif;
        font-size: 1.8em;
        font-weight: 500;
        margin-top: 0;
    }

    p {
        font-family: 'Open Sans', sans-serif;
        font-size: 1.6em;
        font-weight: 400;
        margin-top: 0;
        color: #222;
    }

    .textcenter {
        /*        outline: 2px solid red;*/
        text-align: center;
        color: #fff;
        font-size: 3vw;
        font-weight: 500;
        text-shadow: 2px 2px 20px #000000;
    }

    .textcenter a {
        /*        outline: 2px solid red;*/
        text-align: center;
        color: #fff;
        font-size: 3vw;
        font-weight: 500;
        text-shadow: 2px 2px 20px #000000;
        text-decoration: none;
    }

    .logo {
        /*        background-image: url(ikon.jpg);*/
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        /*        position: relative;*/
        /*        width: 100vw;*/
        /*        height: 10vw;*/
        margin-bottom: 20px;
        margin-top: 20px;
        text-align: center;
    }

    nav a {
        padding: 0 20px;
    }

    header nav {
        font-size: 1.8em;
        font-weight: 300;
        text-align: center;
        word-spacing: 1vw;
        font-family: 'Montserrat', sans-serif;
        color: #222222;
        margin-bottom: 2vw;
    }

    header a {
        text-align: center;
        color: inherit;
        text-decoration: none;
    }

    header a:hover {
        color: #328aa0;
        /* PLACEHOLDER COLOR */
        text-decoration: none;
        cursor: pointer;
    }

    #content {
        background-color: #E4DFDA;
        width: 100vw;
    }

    #content_priser {
        background-color: #E4DFDA;
        width: 100vw;
    }

    .splash {
        background-image: url(splashimg.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        width: 100vw;
        height: 25vw;
    }

    .boxcontainer_0 {
        display: flex;
        flex-wrap: wrap;
        width: 80%;
        margin: 0 auto;
        padding-top: 20px;
        padding: 3vw;
        padding-bottom: 0;
        background-color: #fff;
    }

    .boxcontainer_1 {
        display: flex;
        flex-wrap: wrap;
        width: 80%;
        margin: 0 auto;
        background-color: #fff;
    }

    .boxcontainer_2 {
        display: flex;
        flex-wrap: wrap;
        width: 80%;
        margin: 0 auto;
        background-color: #fff;
    }

    .boxcontainer_3 {
        display: flex;
        flex-wrap: wrap;
        width: 80%;
        margin: 0 auto;
        background-color: #fff;
    }

    .boxcontainer_1,
    .boxcontainer_2,
    .boxcontainer_3 {
        padding: 3vw;
        padding-bottom: 0;
    }

    .box_0,
    .box_1,
    .box_2,
    .box_3,
    .box_4,
    .box_5 {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        flex-basis: 250px;
        flex-grow: 1;
        margin-top: 0vw;
        margin-bottom: 0vw;
        margin-left: 2vw;
        margin-right: 2vw;
        height: 25vw;
    }

    .box_0 {
        background-image: url(splashimg.jpg);
        margin-top: 2vw;
    }

    .box_0_overlay_white {
        background-color: rgba(255, 255, 255, 0.1);
    }

    .box_overlay_white {
        background-color: rgba(255, 255, 255, 0.3);
    }

    .box_overlay_white:hover {
        background-color: rgba(255, 255, 255, 0.2);
    }

    .box_1 {
        background-image: url(privat2.jpg);
    }

    .box_2 {
        background-image: url(erhverv.jpg);
    }

    .box_3 {
        background-image: url(stockimg2.jpg);
    }

    .box_4 {
        background-image: url(stockimg4.jpg);
    }

    .box_5 {
        background-image: url(jette-baden.png);
    }

    .parent {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
    }

    .inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
    }

    .splashtxt {
        /*        outline: 2px solid red;*/
        text-align: center;
        font-size: 4vw;
        font-weight: 500;
        text-shadow: 2px 2px 20px #000000;
    }

    #before_content {
        background-color: #E4DFDA;
        width: 100vw;
        height: 40px;
    }

    .content_end {
        height: 40px;
        width: 80%;
        margin: 0 auto;
        background-color: #fff;
    }

    #before_footer {
        background-color: #E4DFDA;
        width: 100vw;
        height: 40px;
    }
    /*
    .before_footer_div {
        height: 100px;
        width: 80%;
        margin: 0 auto;
        background-color: #fff;
    }
*/

    .footer_column h3 {
        color: #D6EDFF;
    }

    .footer_column p {
        color: #D6EDFF;
    }

    footer {
        margin: 0 auto;
        background-color: #328AA0;
    }

    .footer_flex {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 80%;
        margin: 0 auto;
        padding: 20px 20px;
    }

    .footer_column {
        flex-basis: 200px;
        flex-grow: 1;
        margin: 0px 20px;
        margin-top: 20px;
        padding: 0;
    }

    hr {
        border: none;
        border-top: 2px dashed;
        color: #D6EDFF;
        height: 1px;
        width: 100%;
    }

    .line {
        width: 90%;
        margin: 0 auto;
    }
    /********** KUN FOR OM OS SIDEN **********/

    #omcontent {
        background-color: #E4DFDA;
        width: 100vw;
    }

    #omcontent .boxcontainer_1 {
        display: flex;
        flex-wrap: wrap;
    }

    #omcontent .omtxt_1 {
        flex-grow: 1;
        flex-basis: 300px;
        margin: 4vw;
    }

    #omcontent p {}

    #omcontent .omimg_1 {
        flex-basis: 200;
        flex-grow: 1;
        height: 30vw;
        width: 30vw;
        margin: 4vw;
        position: relative;
    }

    #omcontent .omimg_1 iframe {
        position: absolute;
        width: 100%!important;
        height: 100%!important;
        margin: 0;
        padding: 0;
    }

    #omcontent .omimg_2 {
        background-image: url(stockimg7.jpg);
        flex-basis: 300;
        flex-grow: 1;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 30vw;
        width: 30vw;
        margin: 4vw;
    }

    #omcontent .omtxt_2 {
        flex-grow: 1;
        flex-basis: 300px;
        margin: 4vw;
        font-size: 1.em;
    }

    #omcontent .boxcontainer_3 {
        display: flex;
        flex-wrap: wrap;
    }

    #omcontent .omtxt_3 {
        flex-grow: 1;
        flex-basis: 100;
        margin: 4vw;
        font-size: 1.em;
    }

    #omcontent .map {
        flex-basis: 100;
        flex-grow: 1;
        width: 100%;
        margin: 4vw;
    }
    /********** KUN FOR PRISER SIDEN **********/

    #content_priser .boxcontainer_1 {
        display: flex;
        flex-wrap: wrap;
        width: 80%;
        margin: 0 auto;
        background-color: #fff;
        padding: 40px;
        padding-bottom: 0;
    }

    .accordion {
        flex-basis: 400px;
        flex-grow: 1;
        /*    margin-left: 40px;*/
        /*    margin-right: 40px;*/
        padding-left: 40px;
        padding-right: 40px;
        margin-top: 20px;
        margin-bottom: 20px;
        font-family: 'Open Sans', sans-serif;
        font-size: 1.4em;
        font-weight: 400;
        margin-top: 0;
    }

    button.accordion {
        background-color: #EDB179;
        color: #444;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
        transition: 0.4s;
    }

    button.accordion.active,
    button.accordion:hover {
        background-color: #D6EDFF;
    }

    button.accordion:after {
        content: '\002B';
        color: #777;
        font-weight: bold;
        float: right;
        margin-left: 5px;
    }

    button.accordion.active:after {
        content: "\2212";
    }

    div.panel {
        padding: 0 18px;
        background-color: white;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
    }
